<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lojawalacem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VendaCheque"></activity>
        <activity android:name=".VendaCartao" />
        <activity android:name=".VendaDinheiro" />
        <activity android:name=".PaginaCadastraVenda" />
        <activity android:name=".PaginaGerente" />
        <activity android:name=".PaginaCaixa" />
        <activity android:name=".logGerente" />
        <activity android:name=".logCaixa" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>